.main {
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
    /*background: #163E6C;*/
}

.main-text{
    margin: 0;
    font-size: 30px;
    font-family: 'PT Astra Sans', sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.search-elements {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.factory-number-elements {
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.factory-number-text {
    color: white;
    font-size: 18px;
    font-family: 'PT Astra Sans', sans-serif;
    margin: 0;
}

.input-factory-number {
    height: 20px;
}

.search-button {
    width: 300px;
    height: 30px;
    background: #D20A11;
    color: white;
    font-size: 20px;
    font-family: 'PT Astra Sans', sans-serif;

}

.search-result {
    text-align: center;
}

.search-result-text {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 30px;
    font-family: 'PT Astra Sans', sans-serif;
    color: white;
}

.results-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.table-results {
    border-collapse: collapse; /* Убирает двойные границы */
    width: 100%;
}

.table-results th, .table-results td {
    border: 1px solid white; /* Граница ячеек */
    padding: 8px; /* Внутренний отступ */
    text-align: center; /* Выравнивание текста */
    font-size: 20px;
    font-family: 'PT Astra Sans', sans-serif;
    color: white;
}
